.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  background: #758586;
  color: white;
  height: 100px;
  font-family: 'VT323', monospace;
  letter-spacing: 20px;
}