.development {
  height: 320px;
  border-style: solid;
  border-width: thin;
  border-color: beige;
  width: 100%;
}

.positions {
  margin-top: 10px;
  overflow: auto;
  border-style: solid;
  border-color: beige;
  border-width: 1px;
  overflow: hidden;
  padding-right: 5px;
  height: 350px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.markets {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.markets h2 {
  font-size: 35px;
  color: gray;
  font-family: "VT323", monospace;
  letter-spacing: 10px;
}

.namesList {
  height: auto;
}

.namesList p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "arial";
}

.pieChart {
  height: auto;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  background: #758586;
  color: white;
  height: 100px;
  width: 100%;
  font-family: "VT323", monospace;
  letter-spacing: 20px;
}

.number {
  background: grey;
  color: white;
  border-radius: 5px;
  width: 50px;
  height: 75px;
  text-align: center;
  font-size: 75px;
  margin: 5px;
  line-height: 75px;
  font-family: "VT323", monospace;
  float: left;
}

.numbers {
  display: flex;
  justify-content: center;
  align-items: top;
  padding: 84px;
  width: 100%;
  margin-left: 5px;
  margin-top: 5px;
  float: left;
  border-style: solid;
  border-color: beige;
  border-width: 1px;
  height: 182px;
}

.app {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 500px;
}
