@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #333;
}

a {
  text-decoration: none;
  color: #c0392b;
}

/* == TABLE == */
table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.header {
  background: #333;
  color: #eee;
  padding: 10px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 4px 6px -6px #222;
}

.container {
  overflow: hidden;
  width: 80vw;
  background-color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
  margin-top: 20px;
}

.shareville {
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: -60px; /* cuts the top part of graph */
}

.iframe {
  width: 80%;
  animation: cssAnimation 0s 2s forwards;
  visibility: hidden;
  border: none;
}
@keyframes cssAnimation {
  to {
    visibility: visible;
  }
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 1000px;
  text-align: justify;
}

.name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .header {
    flex-direction: column;
    text-align: center;
  }
  .header h1 {
    margin: 0;
  }

  .iframe {
    width: 100%;
  }

  .container {
    width: 100%;
  }

  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
